.centered1 {
  position: relative;
  bottom: 70%;
  margin-left: 15%;
  transform: translate(-55%, -700%);
}
.centered2 {
  position: relative;
  bottom: 70%;
  margin-left: 15%;
  transform: translate(-25%, -1000%);
}
.decorate {
  color: black;
  margin-left: 43%;
}
.paragraph {
  color: black;
  padding-left: 26%;
}